<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Регистрация</title>

</head>
    <body>
        <div class="container">
            <div class="jumbotron" style="padding-bottom:0px;">
                <center><h2>Регистрация</h2></center>
            </div>
            <form class="form-signin" name="regForm">
                <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email">
                    <p class="help-block" ng-show="regForm.email.$invalid">Введите корректный Email.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" placeholder="Пароль">
                    <p class="help-block" ng-show="regForm.password.$error.minlength">Минимальная длина пароля составляет 8 символов.</p>
                </div>
                <label class="checkbox">
                    <a href="#/home">Авторизация</a>
                </label>
                <button type="button" ng-disabled="!user.email || !user.password" class="btn btn-lg btn-primary btn-block">Регистрация</button>
            </form>
        </div>
    </body>
</html>
