<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FinTech</title>

</head>

<body ng-controller="TournamentsCtrl">

    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <center>
                <h2>Турниры</h2>
            </center>
            <table class="table table-hover scores">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>TEAM</th>
                        <th class="hidden-xs" ng-show="!pointsBo" ng-click="pointsBo = !pointsBo">Показать ▶</th>
                        <td ng-show="pointsBo" ng-click="pointsBo = !pointsBo">◀ Скрыть</td>
                        <th class="teamNum" ng-show="pointsBo" ng-repeat="club in Clubs">{{$index + 1}}</th>
                        <th class="vline">Played</th>
                        <th class="vline hidden-xs">W</th>
                        <th class="vline hidden-xs">D</th>
                        <th class="vline hidden-xs">L</th>
                        <th class="vline hidden-xs">GF</th>
                        <th class="vline hidden-xs">GA</th>
                        <th class="vline">GD</th>
                        <th class="vline">PTS</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-if="Clubs.length" ng-repeat="(i,club) in Clubs">
                    <td>{{i + 1}}</td>
                    <td>
                      {{club.Name}}
                    </td>
                    <td ng-show="pointsBo"></td>
                    <td class="hidden-xs" ng-show="!pointsBo"></td>
                    <td class="scoreInputTd" ng-show = "pointsBo" ng-repeat="(j,club) in Clubs">
                        <input ng-if="i !== j"  class="scoreInput" disabled="disabled" ng-model="Clubs[i].competitors[j]">
                        <input ng-if="i === j"  class="scoreInput" disabled="disabled" ng-model="Clubs[i].competitors[j]">
                      </td>
                      <td class="vline">{{club.W + club.D + club.L}}</td>
                      <td class="vline hidden-xs">{{club.W}}</td>
                      <td class="vline hidden-xs">{{club.D}}</td>
                      <td class="vline hidden-xs">{{club.L}}</td>
                      <td class="vline hidden-xs">{{club.GF}}</td>
                      <td class="vline hidden-xs">{{club.GA}}</td>
                    <td class="vline">{{club.GD}}</td>
                    <td class="vline">{{club.points}}</td>
                  </tr>
                    <tr ng-if="!Clubs.length">
                        <td colspan="11"><center><h3>Пока нет команд(</h3></center></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                    <center><h6>Количество очков</h6></center>
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="pointsData" chart-labels="pointsLabels"></canvas> 
                </div>
                <div class="col-md-6">
                    <center><h6>Количество забитых мячей</h6></center>
                    <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas> 
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <center><h6>Разница мячей</h6></center>
                    <canvas id="bar" class="chart chart-bar" chart-data="GDdata" chart-labels="labels" chart-series="series"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>
</html>