<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>FinTech</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

</head>

<body ng-controller="ManagementCtrl">
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <center>
                <h2>Чемпионат по футболу</h2>
            </center>
            <table class="table table-hover scores">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>TEAM</th>
                        <th ng-show="!pointsBo" ng-click="pointsBo = !pointsBo">Показать ▶</th>
                        <td ng-show="pointsBo" ng-click="pointsBo = !pointsBo">◀ Скрыть</td>
                        <th class="teamNum" ng-show="pointsBo" ng-repeat="club in Clubs">{{$index + 1}}</th>
                        <th class="vline">GD</th>
                        <th class="vline">PTS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-if="Clubs.length" ng-repeat="(i,club) in Clubs">
                    <td>{{i + 1}}</td>
                    <td>
                      {{club.Name}}
                    </td>
                    <td ng-show="pointsBo"></td>
                    <td ng-show="!pointsBo"></td>
                    <td class="scoreInputTd" ng-show = "pointsBo" ng-repeat="(j,club) in Clubs">
                        <input ng-if="i !== j"  class="scoreInput" ng-blur="addResult(i,j)" ng-model="Clubs[i].competitors[j]">
                        <input ng-if="i === j"  class="scoreInput" disabled="disabled" ng-model="Clubs[i].competitors[j]">
                            <!--span class="input-group-btn">
                                <button class="btn scoreBtn" type="button" hidden="true">ОК</button>
                            </span-->
                      </td>
                    <td class="vline">{{club.GD}}</td>
                    <td class="vline">{{club.points}}</td>
                    <td><span ng-click="removeTeam($index)">&times;</span></td>
                  </tr>
                    <tr ng-if="!Clubs.length">
                        <td colspan="5"><center><h3>Пока нет команд(</h3></center></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" ng-model = "addMe" placeholder="Название команды">
                </div>
                <div class="col-md-2">
                    <button class="span4 form-control" ng-click="addTeam()">Добавить</button>
                </div>
            </div>
            <p>{{errortext}}</p>
        </div>
    </div>
</body>
</html>